@using Assignment_03_Library.DataAccess;
@using Assignment_03_WebApp.Helpers;
@model IEnumerable<Assignment_03_Library.DataAccess.Order>
// order
@{
    ViewData["Title"] = "ReportOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ReportOrder</h1>
@*<p>
    <a asp-action="ReportOrder">Report Order</a>
</p>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReportOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group" style="display: flex;">
                @*<label asp-for="OrderDate1" class="control-label"></label>*@
                <div style="display: flex; margin-left: 250px;">
                    <p style="margin-right: 10px;">StartDate:</p> 
                    <input type="date" class="form-control" />
                </div>
                <div style="display: flex; margin-left: 50px;">
                     <p style="margin-right: 15px;">EndDate:</p>
                     <input type="date" class="form-control" />
                </div>
                <div class="form-group" style="margin-left: 50px;">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
               @* <span asp-validation-for="OrderDate1" class="text-danger"></span>*@
            </div>

        </form>
    </div>
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.OrderId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.OrderId })
            </td>
        </tr>
}
    </tbody>
</table>
*@